@import "../common/variables";

.output {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 5px;
  outline: 0;
  border: 0;
  resize: none;
  color: $accent-color;
  background-color: $secondary-color;
}

