@import "../variables";

.verification-button {
  padding: 0;
  padding-left: 7px;
  padding-right: 7px;
  outline: none;
  border: 1px solid $accent-color;
  color: $accent-color;
  background-color: $secondary-color;
  font-size: 16px;

  &:hover {
    cursor: pointer;
    color: $secondary-color;
    background-color: $accent-color;
  }

  &:disabled {
    cursor: auto;
    color: $secondary-color;
    background-color: $accent-color;
  }

  > div {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: min-content;

    &.verification-button-display-verification-status {
      grid-template-columns: min-content min-content;
    }

    > * {
      display: block;
      margin-top: auto;
      margin-bottom: auto;

      &.verification-button-label {
        white-space: nowrap;
      }

      &.verification-button-verification-status {
        > .verification-button-verifying {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          border: 1px solid $secondary-color;
          border-color: $secondary-color transparent $secondary-color transparent;
          animation: spin 1s linear infinite;

          @keyframes spin {
            100% {
              transform: rotate(360deg);
            }
          }
        }

        > .verification-button-symbol {
          /* fix character looking offset vertically from rest of text */
          position: relative;
          top: -0.07em;

          &.verification-button-magic-used {
            font-size: 16px;
          }

          &.verification-button-valid {
            font-size: 20px;
            color: $success-color;
          }

          &.verification-button-invalid {
            font-size: 20px;
            color: $error-color;
          }
        }
      }
    }
  }
}

