@import "../common/variables";

.app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 180px auto;
  grid-template-rows: 50px auto min-content 0;
  grid-template-areas:
    "title control-bar"
    "file-explorer editor"
    "feedback-control feedback-control"
    "feedback feedback";

  &.app-expand-feedback {
    grid-template-rows: 50px 60% min-content auto;
  }

  > * {
    display: block;

    &.app-title {
      grid-area: title;
      display: flex;
      color: $accent-color;
      background-color: $secondary-color;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 24px;
      border-right: 1px solid $accent-color;
    }

    &.app-control-bar {
      grid-area: control-bar;
    }

    &.app-file-explorer {
      grid-area: file-explorer;
      overflow-y: auto;
      border-right: 1px solid $accent-color;
    }

    &.app-editor {
      grid-area: editor;
    }

    &.app-feedback-control {
      grid-area: feedback-control;
      padding: 3px;
      color: $secondary-color;
      background-color: $accent-color;

      &:hover {
        cursor: pointer;
        color: $accent-color;
        background-color: $secondary-color;
      }

      > .app-symbol {
        margin-right: 5px;
      }
    }

    &.app-feedback {
      grid-area: feedback;
    }
  }
}

