@import "../variables";

.app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 140px auto;
  grid-template-rows: 50px auto min-content 0;
  grid-template-areas:
    "control-bar control-bar"
    "file-explorer editor"
    "feedback-control feedback-control"
    "feedback feedback";

  &.app-expand-feedback {
    grid-template-rows: 50px 60% min-content auto;
  }

  > * {
    display: block;
    width: 100%;
    height: 100%;

    &.app-control-bar {
      grid-area: control-bar;
    }

    &.app-file-explorer {
      grid-area: file-explorer;
      border-top: 1px solid $accent-color;
    }

    &.app-editor {
      grid-area: editor;
    }

    &.app-feedback-control {
      grid-area: feedback-control;
      padding: 3px;
      color: $secondary-color;
      background-color: $accent-color;

      &:hover {
        cursor: pointer;
        color: $accent-color;
        background-color: $secondary-color;
      }

      > .app-symbol {
        margin-right: 5px;
      }
    }

    &.app-feedback {
      grid-area: feedback;
    }
  }
}

