name: Deploy

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2-beta
        with:
          node-version: '10.10'

      - run: npm install

      - run: npm run build

      - uses: webfactory/ssh-agent@v0.4.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - run: echo "$SSH_HOST_KEY" > ssh_host_key
        env:
          SSH_HOST_KEY: ${{ secrets.SSH_HOST_KEY }}

      - run: scp -o UserKnownHostsFile=ssh_host_key -P 2235 -r build/* boole@alpha.shazz.me:/var/apps/Boole/
